@media (max-width: 1230px){
    .nav-bar ul li a{
        margin: 2px;
        padding: 10px;
    }
    .nav-bar ul li input{
        margin: 2px;
        padding: 10px;
    }

    #nome{
        font-size: 1.9rem;
    }

    .contato{
        flex-direction: column;
    }
}

@media (max-width: 1050px){
    .selfie{
        margin: 0px;
    }
    .div_sobre{
        font-size: 1.5em;
    }

    .div_sobre  h2{
        font-size: 1.5em;
        margin: 5px 0px;
    }
}

@media (max-width: 1005px){
    .div_sobre{
        font-size: 1.3em;
    }

    .div_sobre  h2{
        font-size: 1.3em;
    }
}

@media (max-width: 940px){
    .nav-bar ul li a{
        margin: 2px;
        padding: 7px;
        font-size: 17px;
    }
    .nav-bar ul li input{
        margin: 2px;
        padding: 7px;
        font-size: 17px;
    }

    #nome{
        font-size: 1.8rem;
    }
    .org-header{
        margin: 0px 0px;
    }
}

/* @media (max-width: 895px){
    
} */

/* @media (max-width: 810px){
    #div_skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
} */

@media (max-width: 790px){
    .img_start{
        width: 200px;
        float: none;
    }
    #ponto{
        bottom: 35px;
    }

}

@media (max-width: 700px){
    .org_skill {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 430px){
    #nome{
        font-size: 1.6em;
    }

    .selfie{
        height: 200px;
    }

    /* .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    /* .img_start{
       
    } */

    .div_inicio {
        margin: 10px;
        width: auto;
        height: 100%;
    }

    .div_inicio .botao {
        margin: 10px;
    }

    #ponto{
        bottom: 30px;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        min-height: 100vh;
    }

    .div_sobre {

        padding: 15px;
        font-size: 1.3em;
    }

    .selfie{
        width: 150px;
        height: 150px;
    }

    .org_skill{
        display: flex;
    }

    .contato{
        display: block;
    }

    .skills{
        flex-direction: column;
    }
}

@media (max-width: 376px){
    .img_start{
        display: none;
    }
}

@media (max-width: 285px){
    .inicio{
        width: 355px;
    }
    .div_inicio{
        margin-top: 55px;
    }
}