#projetos{
    display: block;
    text-align: center;
    min-height: 100vh;
}

#projetos h2{
    margin-bottom: 25px;
}

.cont_proj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nome_id{
    padding-top: 130px;
    text-align: center;
    font-size: 25px;
    min-height: 100vh
}
    
.nome_id h2{
    display: flex;
    padding-top: 25px;
    border-top: double;
}

.img_proj{
    width: 100%;
    position: absolute;
    right: 0px;
}

.churras .transparent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.churras .transparent:hover{
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
}

.churras:hover a{
    color: black;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 900;
    background-color: #2575E1;
    position: relative;
    transition: 0.5s;
}

.churras:hover p{
    color: black;
    padding: 10px;
    font-size: 1.8em;
    font-weight: 900;
    position: relative;
    transition: 0.5s;
}

.img_proj:hover{
    width: 100%;
    filter: blur(2px);
    transition: 0.3s;
}

.churras a{
    align-items: center;
}

.format{
    float: left;
    position: relative;
    margin: 15px;
    width: 500px;
    height: 300px;
    background-color: #9f9f9f;
    border: 1px solid #071e26;
    text-align: center;
    overflow: hidden;
}

.faixa{
    top: 37px;
    position: relative;
    margin: 69px;
    background-color: #1F2127;
    rotate: 331deg;
    width: 120%;
    right: 114px;
  }

.faixa .texto{
    position: relative;
    font-size: 1.7em;
    color: white;
    padding: 25px;
    animation: anime infinite alternate ease-out 1s;
  }

  @keyframes anime{
    0%{
        opacity: 1;
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(-5px);
    }
  }

