/* CONFIG GERAL */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
        
}

::-webkit-scrollbar {
    width:15px;
    height: 10px;
    }
     
::-webkit-scrollbar-track {
    background:#999;
    border: 1px solid black;
    }

::-webkit-scrollbar-thumb {
    background: #2e9dd8;
    border: 1px solid black;
    }

/*início inicio*/



/*fim inicio*/

/*inicio sobre*/

/*FIM SOBRE*/

/*INICIO SKILLS*/



/*FIM SKILLS*/

/*INICIO CONTATO*/
#footer{
    background-color: white;
    text-align: center;
    padding: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px -2px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.contato{
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.contato h2,p{
    margin: 10px;
}

.dados_cont{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 1.2em;   
}   

.img_cont{
    padding: 5px;
    margin: 1px;
    width: 30px;
}

.nav-bar img{
    margin: 10px;
    width: 40px;
}

/* subir página */

#subir{
    background: linear-gradient(#120a6a, #00ffee);
    font-weight: 900;
    padding: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 20px;
    border: 1px solid grey;
    z-index: 1;
    color: black;
}

#subir:hover{
    font-weight: 900;
    padding: 13px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    transition: 0.3s;
    box-shadow: rgb(146, 146, 146) 0px 1px 4px;
    
}


/*FIM CONTATO*/
