@import url(nav.css);

@import url(start.css);

@import url(about_me.css);

@import url(skills.css);

@import url(project.css);

@import url(footer.css);

@import url(media.css);

strong{
    color: #2371DA;
}


/* CONFIG GERAL */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
        
}

body{
    background: #F5F5F5;
}

/* CONFIG DA BARRA DE ROLAGEM  */
::-webkit-scrollbar {
    width:15px;
    height: 10px;
    }
     
::-webkit-scrollbar-track {
    background:#999;
    border: 1px solid black;
    }

::-webkit-scrollbar-thumb {
    background: #2e9dd8;
    border: 1px solid black;
    }

/* subir página */

#subir{
    background: linear-gradient(#120a6a, #00ffee);
    font-weight: 900;
    padding: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 20px;
    border: 1px solid grey;
    z-index: 1;
    color: black;
}

#subir:hover{
    font-weight: 900;
    padding: 13px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    transition: 0.3s;
    box-shadow: rgb(146, 146, 146) 0px 1px 4px;
    
}

/*FIM CONTATO*/
