*{
    margin: 0;
    padding: 0;
}
 body{
    background-image: url("imagens/fundo.jpg");
    background-color: #8e7c0c;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%; 
 }

#infoo{
    float: right;
}

#fundo{
    
    /*display: flex;*/
    flex-direction: row-reverse;
    
    justify-content: center;
    align-items: center;
}

.separador{
    margin-top: 15px;
    padding-bottom: 20px;
}

.container{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 188, 17);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    margin-top: 0px;
    margin-bottom: 15px;
}

input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

button{
    border-radius: 0.3 solid rgb(166, 165, 165);
    padding: 5px;
    margin: 5px;
}

.format{
    display: flex;
    align-items: center;
    margin: 5px;
}

.img_prod{
    padding: 5px;
    width: 30px;
}

#resultado2{
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#divChurras{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(255, 188, 17);
}

#divAlcoolicas{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(255, 188, 17);
}

#divSemAlcool{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(255, 188, 17);
}

/* TESTE BALÃO */
.texto{
    font-size: 1.2em; 
}

.ali{
    text-align: center;
    margin: 5px;
}

.tabela{
    
    margin: 0 auto;
    border: 2px solid black;
}

table tr td{
    
    padding: 5px;
    border: 2px solid black;
}

.animacao{
    margin-bottom:15px;
    margin-right: 15px;
    font-weight: 700;
    background-color: rgb(255, 188, 17);
    padding: 15px;
    border-radius: 20px;
    animation: mymove 1.3s;
}

#conclusao{
    display: none;
    margin-bottom:15px;
    margin-right: 15px;
    font-weight: 700;
    background-color: rgb(255, 188, 17);
    padding: 15px;
    border-radius: 20px;
    animation: mymove 1.3s;
}

.controle2{
    float: right;
}

@keyframes mymove{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1200px){
    #fundo{
        display: flex;
        flex-direction: column-reverse;
        
        justify-content: center;
        align-items: center;
    }
}